@using Software_Department_Project.Models;
@using System.Data;

@{
    ViewBag.Title = "ShowStudents";
    Layout = "~/Views/_LayoutPage1.cshtml";
}<head>
    <title>Allocate</title>
    <link rel="stylesheet" media="all" href="~/styles/style.css" />
    <meta content='d12d09d636f399c5cbfa' name='pusher-key'>
    <meta content='us2' name='pusher-cluster'>
    <meta content='initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width' name='viewport'>
    <script src='https://js.pusher.com/4.2.1/pusher.min.js'></script>
    <script src='https://checkout.stripe.com/checkout.js'></script>
    <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='/favicon.ico' rel='icon' type='image/x-icon'>
    <script src="/assets/application-02e493e218e2ba9c7f087d0a7e45f8c8465279889e70e3b604b2fd95c1b46ffb.js"></script>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="dKXbxCC07nIjhcx6A2IeFUkSuMvUX/cDUy5lJSYHDKFbVh+DJPxAnB1FWvyIwl5ouznu2whyWg+LiThA9Y9CQQ==" />
</head>

<body class='sessions print-black'>
    <div class='print-black' id='content'>
        <span><img src="~/images/logo.png" alt="" /></span>
        <div class='buttons' style="width:10em;height:27px;position:absolute;right:0px;top:0px;">
            <button name="button" type="submit" value="show s" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" style="background-color:crimson;" class="btn btn-login">Logout</button>
        </div>
        <div class="welcome-name">
            <h1>Students Details</h1>
        </div>

        <br>
        <table class="table-fill">
            <div class="table-title">
                <h3>Course Schedule</h3>
            </div>
            <tr>
                <th>Student ID      </th>
                <th>Grade    </th>
            </tr>
            @foreach (StudentCourse obj in Model)
            {
                <tr>
                    <td>@obj.StudentID</td>
                    <td>@obj.Grade</td>
                </tr>
            }
        </table>
        <br />
        <br />
        <br />
        <br />
        <div class="welcome-name" style="font-size: 8px;">
            <h1>Update Student Grade:</h1>
        </div>
        @using (Html.BeginForm("UpdateGrade", "Lecturer", FormMethod.Post))
        {
            <div class="select">
                <select id="SelectStudent" name="StudentID" required> 
                    <option value="" selected disabled>Student ID</option>
                    @foreach (StudentCourse obj in Model)
                    {
                        <option value=@obj.StudentID>@obj.StudentID</option>
                    }
                </select>
                <br />
            </div>
            <br />
            <input style="position:relative;width:18em;height:30px;left:48px;" type="text" placeholder="Grade (0-100)" name="Grade" class="input-flat email" required pattern="^[0-9][0-9]?$|^100$" autocomplete="off"/>
            <br />
            <div class='buttons' style="position:relative;width:15em;height:30px;left:48px;">
                <button name="button" type="submit" value="Update grade" class="btn btn-login">Update</button>
            </div>
        }
    </div>
     <br />
     <br />
     <br />
     <br />
 </body>